{% extends 'base.html' %}

{% block conteudo %}
<h2 style="text-align: center;">Lista de Cursos</h2>
<hr>

<a href="{{url_for('cria_curso')}}" class="btn btn-secondary">Adicionar Curso</a>
<br><br>

<table class="table table-bordered table-hover table table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Carga Horária</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for curso in cursos.items %}
            <tr>
                <td scope="row">{{curso.id}}</td>
                <td scope="row">{{curso.nome}}</td>
                <td scope="row">{{curso.descricao}}</td>
                <td scope="row">{{curso.ch}} hs</td>
                <td scope="row">
                    <a href="{{curso.id}}/atualiza_curso" class="btn btn-secondary btn-xs">Editar</a>
                    <a href="{{curso.id}}/remove_curso" onclick="return confirm('Deseja excluir esse registro?')" class="btn btn-danger btn-xs">Excluir</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <!-- {% for curso in cursos %}
        {{curso.id}} - {{curso.nome}}
    {% endfor %} -->
</table>
{% if cursos.has_prev %}
    <a href="{{url_for('lista_cursos', page=cursos.prev_num)}}">Cursos Anteriores</a>
{% else %}
    Cursos listados
{% endif%}
{% if cursos.has_next %}
    <a href="{{url_for('lista_cursos', page=cursos.next_num)}}">Próximos Cursos</a>
{% else %}
    Cursos Listados
{% endif%}

{% endblock conteudo %}
