{% extends 'base.html' %}

{% block conteudo %}
<h2 style="text-align: center;">Lista de Produtos</h2>
<hr>
<ul class="list-group">
    {% for produto in produtos %}
        <li class="list-group-item">{{produto}}</li>
    {% endfor %}
        <br>
        <form action="{{url_for('home')}}" method="POST">
            <div class="form-group">
                <label for="exemploProdutos">Produtos</label>
                <input class="form-control" id="exemploProdutos" type="text" name="produtos" placeholder="Digite o nome de um produtos" required>
            </div>
            <button class="btn btn-success">Adicionar</button>
        </form>
</ul>
{% endblock conteudo %}
